<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<style>

@font-face {
  font-family: myFont;
  src: url(arialblack.ttf);
}

a {
	display: flex;
	text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-family: myFont;
  color: red;
  font-size: 250%;

}


h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-family: myFont;
  color: blue;

}
</style>
</head>
<body>

<h1>PLEASE WAIT</h1>

<script>
         setTimeout(function(){
            window.location.href = 'https://t.me/youkea';
         }, 5000);
</script>
 
</body>
</html>











